body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 20;
    text-align: center;
    border-radius: 20px ;
}

header {
    font-family: 'Times New Roman', Times, serif bold;
    font-size: 50px;
    background-image: url("img/image2.gif");
    background-size: 130px;
    background-repeat: repeat;
    background-position: center;
    color: #ff0505; 
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
header:hover {
    Color: #05ff3b
}

.container1 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #646464;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ul{
    text-align: center;
    padding: left;
}

.button1{
    display:inline-block;
    padding: 10px 20px;
    text-align: center;
    padding: left;
    background-color: #313131;
    color: rgb(45, 7, 214);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button1:hover {
    background-color: #ff0000;
    font-weight: bold;

}

.button2 {
    display:inline-block;
    padding: 10px 20px;
    text-align: center;
    padding: left;
    background-color: #313131;
    color: rgb(45, 7, 214);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button2:hover {
    background-color: #ff0000;
    font-weight: bold;
}

.coin-container {
    display: inline-block;
    align-items: center;
    margin-bottom: 15px;
}

.left-coin-container {
    display: inline-block;
    align: center;
}

.right-coin-container {
    display: inline-block;
    align: center;

}

.coin{
    width: 5px;
    height: 5px;
    perspective: 1000;
    transform-origin: 16px;
    display: inline-block;
    box-shadow:
    5px 5px #ffa500,
    10px 5px #ffa500,
    15px 5px #ffa500,
    20px 5px #ffa500,
    25px 5px #ffa500,
    30px 5px #000,
    0px 10px #ffa500,
    5px 10px #ffa500,
    10px 10px #a52a2a,
    15px 10px #a52a2a,
    20px 10px #a52a2a,
    25px 10px #ffa500,
    30px 10px #ffa500,
    35px 10px #000,
    00px 15px #ffa500,
    5px 15px #a52a2a,
    10px 15px #ffa500,
    15px 15px #ffa500,
    20px 15px #ffa500,
    25px 15px #000,
    30px 15px #ffa500,
    35px 15px #000,
    0px 20px #ffa500,
    5px 20px #a52a2a,
    10px 20px #ffa500,
    15px 20px #ffa500,
    20px 20px #ffa500,
    25px 20px #000,
    30px 20px #ffa500,
    35px 20px #000,
    0px 25px #ffa500,
    5px 25px #a52a2a,
    10px 25px #ffa500,
    15px 25px #ffa500,
    20px 25px #ffa500,
    25px 25px #000,
    30px 25px #ffa500,
    35px 25px #000,
    0px 30px #ffa500,
    5px 30px #a52a2a,
    10px 30px #ffa500,
    15px 30px #ffa500,
    20px 30px #ffa500,
    25px 30px #000,
    30px 30px #ffa500,
    35px 30px #000,
    0px 35px #ffa500,
    5px 35px #a52a2a,
    10px 35px #ffa500,
    15px 35px #ffa500,
    20px 35px #ffa500,
    25px 35px #000,
    30px 35px #ffa500,
    35px 35px #000,
    0PX 40PX #ffa500,
    5PX 40PX #ffa500,
    10PX 40PX #000,
    15PX 40PX #000,
    20PX 40PX #000,
    25PX 40PX #ffa500,
    30PX 40PX #ffa500,
    35PX 40PX #000,
    5PX 45PX #ffa500,
    10PX 45PX #ffa500,
    15PX 45PX #ffa500,
    20PX 45PX #ffa500,
    25PX 45PX #ffa500,
    30PX 45PX #000;
    perspective: 1000px;
    animation: flip 2s linear infinite;
    margin: 40px 20px;
}
@keyframes flip{
    0%,
    100%{
  transform: rotateY(180deg);
  }
  50%{
  transform: rotateY(0deg);
  }
}

#counter {
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    text-align: center;
}